.VideosPage {
  margin-top: 120px;
}
.YouTube.darkMode {
  background-color: #30343a;

  transition: 0.9s;
}
.total:hover.darkMode {
  background-color: #10141b;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.total {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total:hover {
  background-color: #e0e0e0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.iframe,
.note {
  flex: 1;
}

.note {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
}

.note h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #000000;
  text-transform: uppercase;
  width: fit-content;
  background-color: #c0c0c0;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.note h1:hover {
  background-color: #545454;
}

.note p {
  font-size: 20px;
  line-height: 1.5;
  color: #6e6e6e;
  text-transform: capitalize;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 1400px) {
  .note {
    margin-right: 100px;
  }
}

@media (max-width: 1200px) {
  .note {
    margin-right: 100px;
  }
  .total {
    width: 100%;
  }
  .iframe iframe {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 992px) {
  .total {
    flex-direction: column;
    align-items: center;
  }
  .note {
    margin-right: 0;
    text-align: center;
    max-width: 100%;
  }
  .iframe {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .note h1 {
    font-size: 24px;
  }
  .note p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .total {
    width: 100%;
    padding: 10px;
  }

  .note h1 {
    font-size: 20px;
  }
  .note p {
    font-size: 14px;
  }
  .iframe {
    width: 50%;
    height: auto;
    margin-right: 100px;
  }
  .iframe iframe {
    width: 300px;
    height: 250px;
  }
}

@media (max-width: 400px) {
  .total {
    padding: 5px;
  }
  .note h1 {
    font-size: 16px;
  }
  .note p {
    font-size: 12px;
  }
}
